#finalForm
    form
        display: flex
        flex-direction: column

        .form-field
            border: none
            padding: 1em
            background: white
            margin-bottom: 0.5em

            &:last-child
                margin-bottom: 0