#planos
    .plano
        .plano-inner
            background: lighten($black, 10)
            padding: 1em
            border-radius: 5px
            align-items: center
            justify-content: center
            display: flex
            flex-direction: column

            .valor-franquia-box
                display: flex
                align-items: center
                justify-content: space-around
                flex-wrap: wrap

                .valor
                    font-weight: bold
                    color: $green

                .franquia
                    font-weight: bold
                    font-size: 4em
                    color: white

            .parcela-box
                background: lighten($black, 20)
                border-radius: 5px
                padding: 1em
                align-self: stretch
                color: $white
                text-align: center
                margin-bottom: 1em
                p
                    margin-bottom: 0.5em