#plataformas
    .plataforma
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        background: lighten($black, 10)
        margin: 2em
        padding: 1em
        color: white
        box-shadow: 0px 10px 30px -10px black
        text-align: center
        border-radius: 5px
    
        .nome
            font-weight: 700

        img
            width: 100%