<div class="container fill-screen" id="finalForm">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2 class="my-title">Preencha o formulário para finalizar sua compra</h2>
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm)">
        <input class="form-field" type="text" placeholder="Nome" formControlName="nome">
        <input class="form-field" type="email" placeholder="E-mail" formControlName="email">
        <input class="form-field" type="text" placeholder="Data de Nascimento" formControlName="dataNasc" id="dataNasc">
        <input class="form-field" type="text" placeholder="CPF" id="cpf" formControlName="cpf">
        <input class="form-field" type="text" placeholder="Telefone" id="telefone" formControlName="telefone">
        <button class="my-btn">Enviar</button>
      </form>
    </div>
  </div>
</div>