<div class="container fill-screen" id="plataformas">
  <div class="row">
    <div class="col-12">
      <h2 class="my-title">Escolha sua plataforma</h2>
    </div>
  </div>
  <div class="row">
    <div class="col plataforma" *ngFor="let plat of plataformas; let i = index">
      <img src="../../assets/img/{{platImgs[i]}}.jpg">
      <h2 class="nome">{{plat.nome}}</h2>
      <p>{{plat.descricao}}</p>
      <a class="my-btn" [routerLink]="['planos', plat.sku]" (click)="goTo(plat)">Acessar</a>
    </div>
  </div>
</div>