<div class="container fill-screen" id="planos">
    <div class="row">
      <div class="col-12">
        <h2 class="my-title">Escolha seu plano</h2>
      </div>
    </div>
    <div class="row">
      <div class="col plano" *ngFor="let plan of planos">
        <div class="plano-inner" [ngClass]="{'inactive': !plan.ativo}">
            <div class="valor-franquia-box">
              <h4 class="franquia">{{plan.franquia}}</h4>
              <h3 class="valor">R$ {{plan.valor}}</h3>
            </div>
    
            <div class="parcela-box" *ngIf="plan.aparelho">
              <p>{{plan.aparelho.nome}}</p>

              <p *ngIf="plan.aparelho && !plan.aparelho.valorParcela">R${{plan.aparelho.valor}}</p>
              <p *ngIf="plan.aparelho && plan.aparelho.valorParcela">{{plan.aparelho.numeroParcelas}} x R${{plan.aparelho.valorParcela}}</p>
              <p *ngIf="plan.aparelho && plan.aparelho.valorParcela">({{plan.aparelho.valor}} à vista)</p>
            </div>

            <a class="my-btn" [routerLink]="['/final', platId, plan.sku]">Escolher</a>
        </div>
      </div>
    </div>
  </div>