.my-btn
    background: $green
    color: $black
    padding: 0.5em 0.5em
    font-weight: 700
    text-transform: uppercase
    transition: 0.3s ease
    text-decoration: none
    cursor: pointer
    -webkit-appearance: none
    border: none
    border-radius: 3px
    &:hover
        background: darken($green, 20)
        color: $black
        text-decoration: none

.my-title
    text-transform: uppercase
    text-align: center
    color: $black
    margin-bottom: 1.5em
    font-weight: bold
    font-size: 2em

.fill-screen
    min-height: calc(100vh - 134px)
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center